<section class="container">
  <app-sidebar/>
  <article class="container-post">
    <figure>
      <img
        src="assets/img/image.png"
        alt="Futuristic art studio with AI drawing tools">
      <div class="container-tools">
        
        <ul>
          <li>
            <img src="assets/icons/favorite.svg" alt="Favorite">
          </li>
          <li>
            <img src="assets/icons/favorite.svg" alt="Favorite">
          </li>
          <li>
            <img src="assets/icons/comments.svg" alt="Comments">
          </li>
          <li>
            <img src="assets/icons/patitas.svg" alt="Pet icon">
          </li>
        </ul>
      </div>

      <div class="container-description"></div>
    </figure>
  </article>
</section>

<app-create-post />