<nav class="sidebar">
  <div >
      <a href="/home" ><img class="logo-home" src="assets/img/logo.svg" alt="Home"></a>
  </div>
  <ul>
    <li>
      <a [routerLink]="['home']"><img class="logo-home" src="assets/icons/home.svg" alt="Home">Home</a>
    </li>
    <li>
      <a [routerLink]="['home']"><img class="logo-home" src="assets/icons/search.svg" alt="Search">Search</a>
    </li>
    <li>
      <a [routerLink]="['home']"><img class="logo-home" src="assets/icons/add.svg" alt="Create">Create</a>
    </li>
    <li>
      <a [routerLink]="['home']"><img class="logo-home" src="assets/icons/favorite-sidebar.svg" alt="Favorite">Favorite</a>
    </li>
  </ul>
</nav>
