.main {
  display: flex;
}

/* Barra Lateral */
.left-bar {
  display: flex;
  position: fixed;
  flex-direction: column;
  row-gap: 2rem;
  width: 20%;
  min-height: 100vh;
  background-color: #5482f6;
}

.left-bar > h2 {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 2.5rem;
}

.link-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

li {
  list-style: none;
}

.left-bar a {
  text-decoration: none;
  color: black;
}

.link-list a {
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link-list a:hover {
  cursor: pointer;
  background-color: #23c197;
  border-radius: 0.3rem;
}

.left-bar img {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  margin-left: 1.5rem;
}

.left-bar span {
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10px;
}

/* Contenido */
.container-content {
  margin-left: 20%;
  width: 80%;
}

.container-content figure{
  margin: 6rem auto;
  width: 50%;
}


figure img {
  width: 100%;
  height: auto;
}

.icons ul {
  display: flex;
  margin: 1rem 0;
  padding: 0;
}

.icons li {
  width: 30px;
  height: 40px;
  margin-right: 20px;
}
.icons li:hover {
  cursor: pointer;
}

.icons img {
  color: red;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

figcaption {
  display: block;
  font-size: 1.2rem;
}
